@import url("https://fonts.googleapis.com/css?family=Volkhov:400i,700&display=swap");
@import "showcase.css";

* {
  box-sizing: border-box;
}

html,
body,
h1,
p {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}
